# Python Caches
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Checkpoints and Logs
checkpoints/
*.log
training.log_*
*.out

# Visualizations
*.png
visualization_bulge.png
inference_comparison.png

# Handover Artifacts
artifacts/

# Pytorch / Model Binaries
*.pt
*.pth
*.onnx
*.npy

# Environment files
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode

# Data and large fits
/data
*.tar.gz
*.asdf
*.fits
*.exp
